.container {
  position: relative;
  .overlay {
    background-color: #0008;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: opacity linear 100ms;
  }
  &:hover {
    .overlay {
      opacity: 1;
    }
  }
}
