$brand-50: rgb(245 243 255);
$brand-100: rgb(237 233 254);
$brand-200: rgb(221 214 254);
$brand-300: rgb(196 181 253);
$brand-400: rgb(167 139 250);
$brand-500: rgb(139 92 246);
$brand-600: rgb(124 58 237);
$brand-700: rgb(109 40 217);
$brand-800: rgb(91 33 182);
$brand-900: rgb(76 29 149);
$brand-950: rgb(23, 9, 47);